/nbproject/private/*
/os161/kern/compile/ASST0/*
/os161/kern/compile/ASST1/*
/os161/kern/compile/ASST2/*
/os161/kern/compile/ASST3/*
/os161/kern/compile/ASST4/*

/os161/bin/*
/os161/lib/hostcompat
/os161/lib/libc
/os161/sbin/*
!/os161/sbin/Makefile

# SVN Stuff
/os161/.svn/wc.db
os161/.svn/wc.db

/root/testbin/*
/root/hostbin/*
